<%- include('../_layouts/adminheader') %>
<!-- BEGIN Main Content -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i> Quản lý đơn hàng</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a title="" class="btn btn-circle show-tooltip" data-toggle="modal" href="#addnew"
                            data-original-title="Thêm"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="btn-group">
                            <a title="" onclick="printJS({printable: 'print', type: 'html', style: 'table{font-family:arial,sans-serif;border-collapse:collapse;width:100%}td,th{border:1px solid #ddd;text-align:left;padding:8px}tr:nth-child(even){background-color:#ddd}'})" class="btn btn-circle show-tooltip" data-toggle="modal" href="#"
                                data-original-title="Print"><i class="fa fa-print"></i></a>
                    </div>
                    <div class="btn-group">
                        <a title="" id="excel" class="btn btn-circle show-tooltip" data-toggle="modal" href="#"
                            data-original-title="Excel"><i class="fa fa-file-excel-o"></i></a>
                    </div>
                </div>
                <br>
                <br>
                <div class="table-responsive" >
                    <% if(count > 0) {%>
                    <table id="example" class="display">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên khách hàng</th>
                                <th>Tên nhân viên</th>
                                <th>Thành tiền</th>                                
                                <th></th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <% sale.forEach(function(sale, i){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= sale.user_mem %></td>
                                <td><%= sale.user_emp %></td>
                                <td><%= sale.total %></td>
                                
                                <!-- <td><%= sale.status %></td>                                 -->
                                <td>
                                    <a class="btn btn-primary btn-sm edit" href="#" data-id="<%= sale._id %>"
                                        data-type="<%= sale.type %>"><i class="fa fa-eye"></i> View</a>
                                    <a class="btn btn-danger btn-sm delete" href="#" data-id="<%= sale._id %>"><i
                                            class="fa fa-trash-o"></i> Delete</a>

                                </td>                                
                            </tr>
                            <% }); %>

                        </tbody>
                    </table>
                    <% } else {%>
                    <h3 class="text-center"> Không có đơn hàng</h3>
                    <% }%>
                </div>

                <div class="table-responsive" style="display: none">
                        <% if(count > 0) {%>
                        <table id="print">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tên nhân viên</th>
                                    <th>Thành tiền</th>    
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% sale.forEach(function(sale, i){ %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= sale.user_mem %></td>
                                    <td><%= sale.user_emp %></td>
                                    <td><%= sale.total %></td>
                                </tr>
                                <% }); %>
    
                            </tbody>
                        </table>
                        <% } else {%>
                        <h3 class="text-center"> Không có đơn hàng</h3>
                        <% }%>
                    </div>
            </div>
        </div>
    </div>

</div>


<%- include('./modal/sale_modal') %>
<!-- END Main Content -->

<%- include('../_layouts/adminfooter') %>

<script src="/js/jquery.table2excel.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script>
    
    function cloneQuestion() {

        var question_template = document.getElementsByClassName('prod')
        question_template = question_template[question_template.length - 1].cloneNode(true)

        var form = document.getElementById('add-sale')
        var tray = document.getElementsByClassName('prod')[0]
        form.insertBefore(question_template, tray)

    }
        
    function tong() {
        let tong = 0 ;
        Array.from(document.getElementsByClassName('prod')).forEach((t, s) => {
   tong += Number(t.children[1].children[0].selectedOptions[0].dataset.price * t.children[2].children[0].value) ;
});

$('#total').val(tong);
    }
    $(function () {

        $(document).on('click', '.edit', function (e) {
            e.preventDefault();
            $('#edit').modal('show');
            var id = $(this).data('id');            
            
            $.ajax({
                type: 'GET',
                url: '/admin/sales/edit-sale/' + id,
                dataType: 'json',
                success: function (response) {
                    $('#name-kh').val(response.user_mem);
                    $('#phone').val(response.phone);
                    $('#edit-total').val(response.total);
                    $(".nv select").val(response.user_emp).prop('selected', true);

                    let i= 1;
                    for( [prod , count] of Object.entries(response.items[0]) ){                       
                        $('#load_prod').append(`
                        <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Sản phẩm ${i }</label>
                            <div class="col-sm-9 col-lg-4 controls">
                                    <input type="text" id="name-kh" value='${prod}'' class="form-control" name="name_kh"/>
                            </div>
                            <div class="col-sm-9 col-lg-2 controls">
                                <input type="text" value='${count}' class="form-control catname" name="count">                                                                          
                            </div>
                        </div>
                        `);
                        i++;
                    }

                    $('#edit_sale').attr('action', '/admin/camps/edit-sale/' +
                        id);
                    // console.log('run');
                    // console.log(response.type);
                }
            });
        });

        $(document).on('click', '.delete', function (e) {
            e.preventDefault();
            $('#delete').modal('show');
            var id = $(this).data('id');
            $('#delete_sale').attr('action',
                '/admin/sales/delete-sale/' + id);
        });

    });

    $('#example').DataTable({
        "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ]
    });

    $("#excel").click(function(){
    $("#print").table2excel({
        // exclude CSS class
       
        name: "Worksheet Name",
        filename: "Excel", //do not include extension
        fileext: ".xls" // file extension
    }); 
    });    
</script>
</body>

<!-- Mirrored from thetheme.io/flaty/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 07:16:48 GMT -->

</html>